<div>
<div class="buttons">
<button class="btn"><a href="/">
    back
</button>
</a>
<button class="btn"><a href="/">
    HOME
</button>
</a>
</div>
<h1>Name/s Greeted</h1>
{{#each listName }}
   <h2><td><a href="/listName/{{this.name}}">{{this.name}}</a></td></h2> 
{{/each}}
</div>