<div>
<div>
<button class="btn"><a href="https://greets-app.herokuapp.com">
    back
</button>
<button class="btn"><a href="https://greets-app.herokuapp.com">
    HOME
</button>
</a>
</div>
<h1>Name/s Greeted</h1>
{{#each listName }}
   <h2><td><a href="/listName/{{@key}}">{{@key}}</a></td></h2> 
{{/each}}
</div>

